# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast

# Docs
docs/

# Dotenv file
.env

.VSCodeCounter

src/mock

.gas-snapshot

local.txt

lib/solidity-examples

*.info

node_modules/

coverage
coverage.json
typechain
typechain-types

# Hardhat files
artifacts

# LayerZero specific files
.layerzero
# pnpm
pnpm-error.log
# Editor and OS files
.DS_Store
.idea

log

lib